apiVersion: v1
kind: Secret
metadata:
  name: "{{ client_id }}-binding-secret"
  namespace: "{{ namespace }}"
  labels:
    name: "{{ client_id }}-binding-secret"
    secretType: mobile-client-binding-secret
    clientId: "{{ client_id }}"
    mobile: enabled
data:
  auth_secret: "{{ encoded_openwhisk_system_pass.stdout }}"
stringData:
  appType: "{{ client_type | default('android') }}"
  uri: "{{ openwhisk_uri.stdout }}"
  action_name: "{{ action_id }}"
